<nav class="nav">
  <h1><a routerLink="/">E-COM</a></h1>
  <div *ngIf="menuType=='default'" class="nav-search">
    <input type="text" placeholder="Search for Products" />
    <button>SEARCH</button>
  </div>
  <div [ngSwitch]="menuType">
    <ul *ngSwitchCase="'default'">
      <li><a routerLink="seller-auth">SELLER</a></li>
      <li><a routerLink="">HOME</a></li>
      <li><a routerLink="">LOGIN</a></li>
      <li><a routerLink="">CART(0)</a></li>
    </ul>
    <ul *ngSwitchCase="'seller'">
      <li><a routerLink="seller-auth">Product Lisr</a></li>
      <li><a routerLink="">Add Product</a></li>
      <li><a routerLink="">Logout</a></li>
      <li><a routerLink="">Seller Name</a></li>
    </ul>
  </div>

</nav>