<nav class="nav">
  <h1><a routerLink="/">E-COM</a></h1>
  <div *ngIf="menuType=='default'" class="nav-search">
    <input type="text" placeholder="Search for Products" />
    <button>SEARCH</button>
  </div>
  <div [ngSwitch]="menuType">
    <ul *ngSwitchCase="'default'">
      <li><a routerLink="seller-auth">SELLER</a></li>
      <li><a routerLink="">HOME</a></li>
      <li><a routerLink="#">LOGIN</a></li>
      <li><a routerLink="#">CART(0)</a></li>
    </ul>
    <ul *ngSwitchCase="'seller'">
      <li><a routerLink="seller-add-product">Product List</a></li>
      <li><a routerLink="seller-home">List</a></li>
      <li><a (click)="logout()">Logout</a></li>
      <li><a routerLink="#">{{sellerName|titlecase}}</a></li>
    </ul>
  </div>

</nav>